<h1><%= @employee.full_name %></h1>
<h2><%= @employee.alias %></h2>
<h2><%= @employee.title %></h2>
<h2><%= @employee.office %></h2>
<h2>Dog: <%= link_to @employee.dog.name, dog_path(@employee.dog) %></h2>
<img src="<%= @employee.img_url %>" width="100%" height="100%">
